.SearchBar {
    margin-bottom: 20px;
  }

  .SearchBar input[type="text"] {
    padding: 10px;
    width: 200px;
  }
  
.SearchBar input[type="submit"] {
    padding: 10px 20px;
    background-color: #213547;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 5px;
}